[submodule "schtest"]
	path = schtest
	url = git@github.com:amscanne/schtest.git
[submodule "scx"]
	path = scx
	url = git@github.com:sched-ext/scx
[submodule "linux"]
	path = linux
	url = git@github.com:rrnewton/linux.git
[submodule "virtme-ng"]
	path = virtme-ng
	url = git@github.com:arighi/virtme-ng.git
[submodule "mkosi-kernel"]
	path = mkosi-kernel
	url = git@github.com:DaanDeMeyer/mkosi-kernel.git
[submodule "virtme-rrn"]
	path = virtme-rrn
	url = git@github.com:rrnewton/virtme.git
[submodule "schbench"]
	path = schbench
	url = https://git.kernel.org/pub/scm/linux/kernel/git/mason/schbench.git
[submodule "wprof"]
	path = wprof
	url = git@github.com:anakryiko/wprof.git
[submodule ".claude_template"]
	path = .claude_template
	url = git@github.com:rrnewton/claude_template
